<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loading app...</title>
</head>
<body>
    
    <mid class=md1>
        <h1 class="h1">please wait</h1>
        <p class="p1">
            Our connection attempt to this site was rejected. The website may be down or your network may not be properly
            configured.
        </p>
    </mid>

    <script src="script/loading.js"></script>
</body>
</html>